body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    padding-top: 20%;
    background-color: #111313;
}

.casio {
    font-size: 30px;
    font-weight: bold;
    color: #ffffff;
    text-align: right;
    padding-right: 10px;
    margin-bottom: 20px;
}

.calculator {
    background-color: #a69fbd64;
    padding: 25px;
    border-radius: 30px;
    padding-top: 60px;
    box-shadow: 0px 10px 20px rgba(0,0,0,0.2);
    width: 300px;
}

#display {
    width: 100%;
    height: 50px;
    font-size: 25px;
    text-align: right;
    font-family: 'ClassWizDisplayFont', 'Courier New', monospace;;
    margin-bottom: 15px;
    padding: 10px 10px;
    border: none;
    border-radius: 20px 20px 0px 0px;
    border-radius: 5px;
    background-color: #575b44;
    box-sizing: border-box; 
    color: white;
}


.keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.btn {
    padding: 15px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
    background-color: #444;
    color: white;
    transition: 0.2s;
}

.btn:hover {
    background-color: #666;
}

.operator {
    background-color: #bcb7ae;
}

.operator:hover {
    background-color: #191cc1;
}

.action {
    background-color: #d32f2f;
}

.action:hover {
    background-color: #b71c1c;
}

#equals {
    background-color:#444;
    grid-column: span 4;
    grid-row: 8;
}
#equals:hover {
    background-color: #762e7d;
}